
body {
  color: white;
  font-family:  Proxima Nova, Source Sans Pro, Century Gothic, Arial, San Serif;
  padding: 5%;
  background: #057075;
  height: auto;
}

.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.card {
  background-color: white;
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem;
  color: #057075;
}

.button {
  width: 100%;
  background-color: white;
  color: #057075;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #e5e2e2;
}

.hide {
  display: none;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}